#tableRes{
    padding-right: 20px;
}
#break{
    padding-bottom: 20px;
}

.flex-cont{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-image{
    flex-shrink: 1;
    display: flex;
    justify-content: flex-start;
}
.company-name{
    flex: 1;
    display: flex;
    justify-content: center;
}
.flex-cont-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home{
    display: flex;
    justify-content:flex-start;
    padding-right:2%;
}
.register{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}
.contact{
    flex-shrink: 1;
}
.dish-ratings{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chicken-rice{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: green;
}
.veg-curry{
    display: flex;
    justify-content: center;
    flex-grow: 0.5;
    background-color: yellow;
}
.salad{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    background-color: red;
}